@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/components/panel.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/grid/columns";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
//@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
//@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
//@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

 navbar-brand .navbar-item {
    font-size: 3.8em;
}


.navbar-menu .navbar-item {
    font-size: 2em;
}

.navbar-menu .navbar-item svg  {
    margin-right: .25em;
    margin-left: 1em;
}

.navbar a {
    color: inherit; /* blue colors for links too */
    font-family: "Keep Calm";
   font-size:15px !important;
  }

.navbar a:hover {
    color: $link;
}


.add{
  color: white;
}


